
.dash-header-container {
    width: 100%;
    height: 100px;
    position: static;
    top: 0;
    z-index: 10000;
    background-color: #003c71;
    border-bottom: 1px solid #E3E3E3;
}



.dash-user-container {
    width: auto;
    height: 50px;
    float: right;
}

.dash-user-img-id {
    width: 40px;
    height: 40px;
    margin: 5px;
    float: left;
    border: 1px solid rgba(76, 170, 190, 0.2);
}

.dash-user-name-txt {
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    line-height: 50px;
    color: white;
}

.dash-user-signout {
    width: 50px;
    height: 50px;
    float: left;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}











.dash-header {
  width: 100%;
  height: 50px;
  float: left;
}

.dash-header-nav {
  width: 100%;
  height: 50px;
  float: left;
  box-sizing: border-box;
  background-color: white !important;
}

.dash-nav-wrapper {
  width: 700px;
  height: 400px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.dash-nav-card {
  float: left;
  background-color: transparent;
  box-sizing: border-box;
  padding: 2px;
}

.max-card {
  width: 300px;
  height: 400px;
}

.min-card {
  width: 200px;
  height: 200px;
}

.dash-card {
  width: 100%;
  height: 100%;
  padding-top: 58px;
  background-color: white;
  box-sizing: border-box;
  color: #4E585C;
}

.dash-nav-btn {
  width: 40px;
  height: 40px;
  float: left;
  margin: 5px;
  line-height: 40px;
  text-align: center;
  color: #4E585C;
  cursor: pointer;
}

.dash-card-logo {
  width: 80px;
  height: 80px;
  margin-left: 58px;
  line-height: 100px;
  text-align: center;
}

.dash-card-text {
  width: 100%;
  height: 40px;
  float: left;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
}

.dash-user-img {
  width: 120px;
  height: 120px;
  background-color: aquamarine;
  margin-left: 88px;
  border-radius: 50%;
}

.dash-name-txt {
  width: 100%;
  height: auto;
  line-height: 45px;
  font-size: 18px;
  float: left;
  text-align: center;
  margin-top: 5px;
}
