@media (min-width: 300px) {
    .w100 {
        width: 100%;
    }
    .w50 {
        width: 50%;
    }
    .w25 {
        width: 100%;
    }
    .w33 {
        width: 100%;
    }
}

@media (min-width: 400px) {
    .w100 {
        width: 100%;
    }
    .w50 {
        width: 50%;
    }
    .w25 {
        width: 100%;
    }
    .w33 {
        width: 100%;
    }
}

@media (min-width: 550px) {
    .w100 {
        width: 100%;
    }
    .w50 {
        width: 50%;
    }
    .w25 {
        width: 50%;
    }
    .w33 {
        width: 50%;
    }
}

@media (min-width: 750px) {
    .w100 {
        width: 100%;
    }
    .w50 {
        width: 50%;
    }
    .w25 {
        width: 50%;
    }
    .w33 {
        width: 33.333333%;
    }
}

@media (min-width: 1000px) {
    .w100 {
        width: 100%;
    }
    .w50 {
        width: 50%;
    }
    .w25 {
        width: 25%;
    }
    .w33 {
        width: 33.333333%;
    }
}

@media (min-width: 1200px) {
    .w100 {
        width: 100%;
    }
    .w50 {
        width: 50%;
    }
    .w25 {
        width: 25%;
    }
    .w33 {
        width: 33.333333%;
    }
}

@media (min-width: 1440px) {
    .w100 {
        width: 100%;
    }
    .w50 {
        width: 50%;
    }
    .w25 {
        width: 25%;
    }
    .w33 {
        width: 33.333333%;
    }
}

.login-wrapper {
    width: 320px;
    height: 432px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 2px;
}

.signin-wrapper{
    width: 320px;
    height: 230px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 2px;
}
}

.login-content {
    width: 100%;
    height: auto;
    float: left;
}

.login-input-block {
    height: 40px;
    float: left;
    margin-bottom: 5px;
}

.login-header {
    width: 100%;
    height: 50px;
    float: left;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    color: #4CAABE;
}

.input-txt {
    width: 100%;
    height: 40px;
    border-style: none;
    font-size: 14px;
    text-indent: 10px;
    border: 1px solid rgba(76, 170, 190, 0.2);
    box-sizing: border-box;
    background: transparent;
    color: #BEE5E7;
}

.input-txt:hover {
    background: rgba(76, 170, 190, 0.04);
}

.login-input-label {
    height: 20px;
    float: left;
    font-size: 14px;
    line-height: 20px;
    color: #4CAABE;
}

.input-btn {
    width: 100%;
    height: 30px;
    border-style: none;
    border-radius: 2px;
    background-color: rgba(80, 100, 107, 0.1) !important;
    border: 2px solid rgba(76, 170, 190, 0.2);
    color: rgba(76, 170, 190, 0.8);
    font-size: 14px;
    cursor: pointer;
    box-sizing: border-box;
}
.input-btn-signin {
    width: 100%;
    height: 30px;
    border-style: none;
    border-radius: 2px;
    background-color: rgba(80, 100, 107, 0.1) !important;
    border: 2px solid rgba(76, 170, 190, 0.2);
    color: rgba(76, 170, 190, 0.8);
    font-size: 14px;
    cursor: pointer;
    box-sizing: border-box;
}

.input-btn:hover {
    background-color: rgba(80, 100, 107, 0.2) !important;
    color: rgba(76, 170, 190, 0.8);
}
.input-btn-signin:hover {
    background-color: rgba(80, 100, 107, 0.2) !important;
    color: rgba(76, 170, 190, 0.8);
}

.login-input-btn-block {
    height: 50px;
    float: left;
    margin-bottom: 5px;
    padding: 5px;
    box-sizing: border-box;
}