@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Titillium+Web:300,400';
@import 'login.css';
@import 'dashb.css';
@import 'font-awesome.min.css';
html,
body {
  font-family: 'Titillium Web', sans-serif;
  background: url(../img_svg/block_img.png);
  background-color: #eee;
  margin: 0;
}


/*

#003c71  Dark blue
rgba(0077cA) light blue
#fffff

*/

input,
button,
a {
  font-family: 'Titillium Web', sans-serif;
}

light-txt {
  color: #B3FFF7 !important;
}

.red-color {
  color: #FD563F !important;
}

red-txt {
  color: #F15843 !important;
}

green-txt {
  color: #1cd017 !important;
}

